server:
  forward-headers-strategy: framework # Docker Important for correct handling of X-Forwarded-* headers when behind a reverse proxy or load balancer
  reactive:
    session:
      cookie:
        secure: true        # requires HTTPS in production. Note: secure: true requires HTTPS. For local dev, you may temporarily set secure: false.
        http-only: true     # prevents JS access
        #domain: XXXXXXXXX  # Local use this
        same-site: lax      # Adjust as needed (strict, lax, none)
        path: /             # Ensure the cookie is sent for all paths
spring:
  application:
    name: fountation-gateway-service
  config:
    import: "optional:classpath:fountation-config.yaml"
  cloud:
    gateway:
      httpclient:
        pool:
          max-idle-time: 10s
          max-life-time: 60s
        connect-timeout: 10000
        response-timeout: 180s
      routes:
        - id: fountation-user-service
          uri: http://CCCCCCCCCCCCCCCCCCCCCCCCCCCCCC:8080 # MY-SERVICE-ID is the application name of your microservice in Docker Swarm or Kubernetes
          predicates:
            - Path=/user/** # Define the path predicate for this route
          filters:
            - RemoveRequestHeader=favicon.ico
            - RemoveRequestHeader=default-ui.css
        - id: fountation-account-service
          uri: http://CCCCCCCCCCCCCCCCCCCCCCCCCCCCCC:8080 # MY-SERVICE-ID is the application name of your microservice in Docker Swarm or Kubernetes
          predicates:
            - Path=/account/** # Define the path predicate for this route
          filters:
            - RemoveRequestHeader=favicon.ico
            - RemoveRequestHeader=default-ui.css
      default-filters:
        - TokenRelay=
        - RemoveRequestHeader=Cookie
      globalcors:
        corsConfigurations:
          '[/**]':
            allowedOrigins:
            - "http://CCCCCCCCCCCCCCCCCCCCCCCCCCCCCC"  # Your frontend origin(s)
            allowedMethods:
              - GET
              - POST
              - PUT
              - DELETE
              - OPTIONS
            allowedHeaders: "*"
            allowCredentials: true
            maxAge: 3600
